SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8888

NETWORK=mainnet

POSTGRES_HOST=10.4.18.140
POSTGRES_PORT=54322
POSTGRES_USER=cardano-master
POSTGRES_PASSWORD=postgres_master_pw
POSTGRES_DB=explorer
POSTGRES_SCHEMA=mainnet

LIST_SIZE_EACH_THREAD=5

POOL_MAX_SIZE=12
POOL_CORE_SIZE=10

FLYWAY_ENABLE=false
FLYWAY_VALIDATE=false

REWARD_PARALLEL_SAVING_ENABLED=true
REWARD_SUB_LIST_SIZE=500
REWARD_PARALLEL_SAVING_THREAD_NUM=10
EPOCH_STAKE_PARALLEL_SAVING_ENABLED=true
EPOCH_STAKE_SUB_LIST_SIZE=500
EPOCH_STAKE_PARALLEL_SAVING_THREAD_NUM=10
